
/********/
/* var */
/********/

:root {
  --main-blue-color: rgb(60,160,240);
  --main-gray-color: rgb(140,140,140)
}

/********/
/* INIT */
/********/

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	color: rgb(60,60,60);
	box-sizing: border-box;
}
body,html {
	position: relative;
	min-width: 100%;
	min-height: 100%;
}
body {
	font-size: 62.5%;
	font-weight: 400;
	font-family: 'Ubuntu';
	-webkit-font-smoothing: antialiased;
}
body>ol, body>form, body>fieldset, body>nav:last-of-type, section {
	padding: 15vh 10%;
}
:focus {
	outline: 0;
}

/*******************/
/* INLINE ELEMENTS */
/*******************/

h1 {
	font-weight: 400;
	margin-bottom: 1rem;
}
p, input, label, button, textarea {
	color: var(--main-gray-color);
}

label, button, input, textarea {
	display: block;
	font-size: 1.3em !important;
	line-height: 1.4em;
	letter-spacing: 0.05em;
}
p {
	font-size: 1.5em;
	line-height: 1.6em;
	letter-spacing: 0.05em;
}


/**********/
/* loader */
/**********/

body>div {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: rgb(255,255,255);
	z-index: 99;
	animation: welcome 0.5s ease forwards 1s;

}
@keyframes welcome {
    to { 
    	opacity: 0;
    	z-index: -99;
    }
}
body>div div {
	display: flex;
	align-items: flex-end;
	height: 0;
	padding: 2rem;
}
body>div span, body>div span:before, body>div span:after {
	display: inline-block;
	width: 0.75rem;
	height: 0rem;
	margin: 0.25rem;
	border-radius: 0.2rem;
	background-color: var(--main-blue-color);
	animation: loader 0.3s ease-in-out infinite alternate;
}
body>div span:nth-of-type(2) {
	animation-delay: 0.1s
}
body>div span:nth-of-type(3) {
	animation-delay: 0.2s
}
@keyframes loader {
    from { 
    	height: 0.5rem; 
    	width: 0.75rem;
    }
    to {
    	margin-bottom: -0.25rem;
    	height: 3rem;
    	width: 1rem;
    }
}

/********/
/* HERO */
/********/

body>article {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding: 0 10%;
}
article>h1 {
	font-size: 3rem;
}
body>article img {
	position: absolute;
	width: 100%;
	height: auto;
}
article figure {
	display: block;
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
article figcaption {
	display: block;
	width: 50%;
}
body>article h1, article figcaption p, article footer, article time, article figcaption a {
	color: rgb(255,255,255);
}
article footer, article time, article figcaption a, label {
	font-size: 1.1em;
}
article footer {
	margin-top: 0.5rem;
}
article footer:before {
	content: "";
	display: block;
	width: 1.5rem;
	height: 1px;
	background-color: rgb(255,255,255);
	margin: 1rem 0 1rem 0;
}
figcaption a {
	display: inline-block;
}
figcaption a:after {
	content: '';
	position: relative;
	display: block;
	width: 0;
	height: 1px;
	top: 1px;
	left: 50%;
	background-color: rgb(255, 255, 255);
	transition: all 200ms ease;
}
figcaption a:hover:after, figcaption a:focus:after {
	width: 100%;
	left: 0;
}
body>article img:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 20;
	background-color: rgba(60, 160, 240, 0.5);
}
@media screen and (orientation:portrait) {
	article h1, article figcaption p, article figcaption footer, article figcaption time, article figcaption a {
		color: rgb(60,60,60) !important;
	}
	article footer:before, figcaption a:after {
		background-color: rgb(60,60,60);
	}
	body>article figure:last-of-type {
		background-image: url('img/wintersport.jpg');
		filter: blur(0.25rem);
	}
	article figcaption {
		width: 100%;
	}
}
@media screen and (orientation:landscape) {
	body>article figure:first-of-type {
		background-image: url('img/surf.jpg');
	}
}



/*******/
/* NAV */
/*******/

nav:first-of-type h1 {
	display: none;
}

nav:first-of-type {
	position: fixed;
	width: 100vw;
	z-index: 90;
}

nav:first-of-type>ul li {
	display: inline-block;
}
nav:first-of-type>ul a {
	display: block;
	font-size: 1.4em;
	line-height: 4rem;
	height: 4rem;
	padding: 0 1rem;
	transition: all 200ms ease;
}
nav>ul {
	background-color: rgb(255,255,255);
	box-shadow: 0 0 1rem rgba(0,0,0,0.1);
	padding: 0 10%;
	margin-left: -1rem;
}

/* SUBNAV */

li ul {
	position: absolute;
	height: 0;
	overflow: hidden;
	z-index: -1;
	transition: height 250ms ease-in;
	background-color: rgb(248,248,248);
	box-shadow: 0 0 1rem rgba(0,0,0,0.1);
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
li:hover>ul, li>ul:focus-within, nav li:nth-of-type(2)>a:focus + ul {
	height: 4rem;
	transition: height 250ms ease-out 100ms;
}
li ul li {
	display: block;
}
nav ul a:focus {
	background-color: var(--main-blue-color);
	color: rgb(255,255,255);
}
nav ul a:after {
	content: '';
	position: relative;
	display: block;
	width: 0;
	height: 2px;
	top: -2px;
	left: 50%;
	background-color: var(--main-blue-color);
	transition: all 200ms ease;
}
nav ul a:focus:after {
	background-color: rgb(255,255,255);
}
nav ul a:hover:after {
	width: 100%;
	left: 0%;
}

/* NAV LOGIN FORM */

nav:first-of-type:after {
	content: 'Login';
	position: absolute;
	display: block;
	float: left;
	right: 10%;
	top: 0;
	line-height: 4rem;
	z-index: 99;
	color: rgb(100,100,100);
	font-size: 1.2em;
	padding: 0 1rem;
}
nav:first-of-type:hover:after {
	cursor: pointer;
}
nav:first-of-type form {
	display: flex;
	position: relative;
	justify-content: flex-end;
	align-items: center;
	top: -4rem;
	height: 0rem;
	padding: 0 10%;
	overflow: hidden;
	width: 100%;
    z-index: -10;
    transition: top 400ms ease-in 1000ms, height 400ms ease-in 1000ms;
    background-color: rgb(248,248,248);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
nav:first-of-type:hover form, nav:first-of-type form:focus-within, nav:first-of-type ul:focus-within + form {
	top: 0;
	transition: top 300ms ease-out, height 300ms ease-out;
	height: 4rem;
}
nav:first-of-type>form button {
	display: block;
	padding: 0 1rem;
	margin-right: 0.5rem;
}
nav:first-of-type>form a {
	display: block;
	position: relative;
	left: -1rem;
	top: -0rem;
}
nav:first-of-type>form a:before {
	visibility: visible !important;
	display: flex;
	content: "?";
	font-weight: 500;
	justify-content: center;
	align-items: center;
	width: 1rem;
	top: 0.25rem;
	left: -1rem;
	height: 1rem;
	position: absolute;
	border: 0.05rem solid var(--main-gray-color);
	color: var(--main-gray-color);
}
nav:first-of-type>form label, nav:first-of-type>form input, nav:first-of-type>form a, nav:first-of-type>form button {
	font-weight: 100;
	height: 1.6rem;
	line-height: 1.6rem;
	white-space: nowrap;
}
nav:first-of-type ul input {
	display: none;
}
form a, form button, form a:before, input, textarea {
	border-radius: 0.15rem;
	margin: 0 0.2rem;
}
input, textarea {
	border: 0.05rem solid var(--main-gray-color);
	background-color: transparent;
	padding: 0.2rem 0.3rem;
}
textarea {
	resize: none;
	padding: 0.5rem 0.5rem;
}
form a {
	display: none;
}
button, form a:before {
	transition: background 200ms ease, color 200ms ease;
}
form button {
	background-color: transparent;
	border: 0.05rem solid var(--main-gray-color);
	color: var(--main-gray-color);
}
button:hover, button:focus, nav form a:hover:before, nav form a:focus:before {
	cursor: pointer;
	background-color: var(--main-blue-color);
	border-color: var(--main-blue-color);
	color: rgb(255,255,255) !important;
}

/* NAV LOGIN FORM | responsive grid */

@media screen and (max-width: 800px) {
	nav:first-of-type form {
		display: grid;
		grid-template-areas: 'user userIn .      check stayin'
                        	 'pass passIn forgot login login';
		grid-template-columns: auto auto auto auto auto;
		grid-template-rows: auto auto;
	    grid-gap: 0 0.25em;
	}
	nav:first-of-type>form label:nth-of-type(1) {
		grid-area: user;
	}
	nav:first-of-type>form input:nth-of-type(1) {
		grid-area: userIn;
	}
	nav:first-of-type>form input:nth-of-type(3) {
		grid-area: check;
	}
	nav:first-of-type>form label:nth-of-type(3) {
		grid-area: stayin;
	}
	nav:first-of-type>form label:nth-of-type(2) {
		grid-area: pass;
	}
	nav:first-of-type>form input:nth-of-type(2) {
		grid-area: passIn;
	}
	nav:first-of-type>form a {
		grid-area: forgot;
	}
	nav:first-of-type>form button {
		grid-area: login;
	}
	nav:first-of-type>form a:before {
		top: 0.45rem;
		left: -1.1rem;
	}
}
nav:first-of-type form input:first-of-type(2) {
	margin-right: 0.5rem;
}
nav input, textarea {
	transition: all 150ms ease;
}
nav input:hover, textarea:hover {
	border-color: var(--main-blue-color);
	box-shadow: 0 0 0 1px var(--main-blue-color);
}
nav input[type="checkbox"] {
	border-color: transparent;
	box-shadow: 0 0 0 0 transparent;
}
nav input:focus, textarea:focus {
	background-color: var(--main-blue-color);
	color: rgb(255,255,255);
	border-color: var(--main-blue-color);
	font-weight: 400 !important;
}
nav input:nth-of-type(2):focus + a:before {
	border: 1px solid rgb(255,255,255);
	color: rgb(255,255,255);
}
nav input:last-of-type {
	margin-right: 0.5rem;
}
nav input:last-of-type:after {
	content: '';
	display: block;
	position: absolute;
	width: 1rem;
	height: 1rem;
	margin-top: 0.2rem;
	margin-left: -0.25rem;
	border-radius: 0.15rem;
	border: 1px solid var(--main-gray-color);
	transition: all 100ms ease;
	color: rgb(255,255,255);
	text-align: center;
	font-weight: 600;
	background-color: rgb(248,248,248);
	transition: all 150ms ease;
}
nav input:last-of-type:checked:after {
	content: '\2713';
	line-height: 1rem;
	background-color: var(--main-blue-color);
	border-color: var(--main-blue-color);
}
nav input:last-of-type:focus, nav input:last-of-type:hover {
	outline: 0 !important;
	box-shadow: 0 !important;
}
nav input:focus:after, nav input:hover:after {
	color: rgb(255,255,255);
	border-color: var(--main-blue-color);
	font-weight: 400 !important;
	box-shadow: 0 0 0 1px var(--main-blue-color);
}

/***************/
/* BLOCK LINKS */
/***************/

em {
	font-style: normal;
	display: block;
	float: left;
	font-size: 2.1em;
	margin-top: 0.55em;
	margin-right: 0.2rem;
	font-weight: 100;
	color: var(--main-gray-color);
	font-family: 'Bad Script', cursive;
}
section {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(30em, 1fr));
	grid-gap: 1rem;
}
section>article:nth-of-type(1), section>article:nth-of-type(4) {
	grid-column-end: span 2;
}
section>article:nth-of-type(7) {
	grid-column-end: span 1;
}
@media screen and (max-width: 940px) {
	section>article:nth-of-type(1), section>article:nth-of-type(4) {
		grid-column-end: span 1;
	}
}
@media screen and (max-width: 1164px) {
	section>article:nth-of-type(7) {
		grid-column-end: span 2;
	}
}
@media screen and (max-width: 770px) {
	section>article:nth-of-type(7) {
		grid-column-end: span 1;
	}
}
section>article {
	display: subgrid;
	position: relative;
	width: 100%;
	height: 100%;
	align-items: start;
	justify-items: start; 
	grid-template-areas: 'img h'
                         'img p'
                         'img .';
	grid-auto-flow: dense;
	grid-template-columns: auto auto;
    grid-template-rows: auto auto;
	box-shadow: 0 0 10px rgb(225,225,225);
	border-radius: 0.3rem;
	overflow: hidden;
	transition: box-shadow 300ms ease, transform 200ms ease;
	transform: scale(1);
	transform-origin: center 70%;
}
section>article:hover, section>article:focus-within {
	box-shadow: 0 0 20px rgb(200,200,200);
	transform: scale(1.01);
}
a h1 {
	font-size: 1.5em;
}
section img {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	grid-area: img;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	transition: filter 300ms ease;
}
section h1 {
	grid-area: h;
	padding: 2rem 2rem 0rem 2rem;
}
section p {
	grid-area: p;
	padding: 0.5rem 2rem 2rem 2rem;
}
section a:before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 5px;
	background-color: var(--main-blue-color);
	transition: transform 150ms ease;
	transform: scaleY(0);
	transform-origin: center top;
}
section article:focus-within a:before, section a:hover:before {
	transform: scaleY(1);
}
section a:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
section a:focus {
	outline: none;
	box-shadow: none;
}

/**********/
/* RATING */
/**********/

fieldset {
	display: block;
	padding: 1rem 2rem 3rem;
	overflow: visible !important;
}
fieldset legend {
	display: none;
}
fieldset input {
	position: relative;
	display: inline-block;
	left: calc(1rem / 3 * 2);
}
fieldset label {
	display: inline-block;
	position: relative;
	width: 2.5rem;
	color: transparent;
	flex-direction: column;
	overflow: visible !important;
}
svg {
	position: absolute;
	width: 75%;
	border-radius: 50%;
	left: -0.85rem;
	top: calc(-1rem / 3 * 2);
	box-shadow: 0 0 0 0 rgba(60,160,240,0);
	transition: all 100ms ease;
	transform-origin: center;
	overflow: visible !important;
	filter: grayscale(65%);
}
fieldset svg:hover, fieldset input:focus + label svg {
	filter: grayscale(0%);
	transform: scale(1.2);
	border: 0.1rem solid rgb(200,200,200);
}
fieldset input[type=radio] {
	border: 0.1rem solid transparent;
}
fieldset input[type=radio]:active + label svg {
	transform: scale(1);
}
fieldset input[type=radio]:checked + label svg {
	transform: scale(1.4);
	border: 0.1rem solid rgba(60,160,240,1);
	filter: grayscale(0%);
}
fieldset input[type=radio]:after {
	content: "";
	display: block;
	position: absolute;
	width: 2rem;
	height: 2rem;
	left: -0.625rem;
	top: -0.4rem;
	background-image: url('img/sunglass.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 10;
	transform: scale(0);
	transition: transform 100ms ease;
	transform-origin: center 30%;
}
fieldset input[type=radio]:nth-of-type(1):after {
	background-image: url('img/poop.png');
	top: -2.3rem;
}
fieldset input[type=radio]:nth-of-type(2):after {
	transform: scale(0) rotate(-5deg);
}
fieldset input[type=radio]:nth-of-type(4):after {
	top: -0.575rem;
}
fieldset input[type=radio]:checked:after {
	transform: scale(1)
}
fieldset input[type=radio]:nth-of-type(2):checked:after {
	transform: scale(1) rotate(-5deg);
}
fieldset label:first-of-type svg g path:first-of-type, fieldset label:first-of-type svg path:first-of-type {
	transition: 200ms ease;
}
fieldset label:first-of-type:hover svg g path:first-of-type {
	transform: translateX(0.2rem) translateY(-0.1rem);
}
fieldset label:first-of-type svg>path:first-of-type {
	transform: scaleY(0.4);	
	transform-origin: center 70%;
}
fieldset input[type=radio]:checked + label:first-of-type svg>path:first-of-type {
	transform: scaleY(1.2);
}

/********/
/* CHAT */
/********/

body>ol {
	display: block;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(250,250,250);
}
body>ol li {
	display: block;
	position: relative;
	width: 47.5%;
	padding: 1rem;
	background-color: var(--main-blue-color);
	border-radius: 0.5rem;
	transition: transform 200ms ease-out 50ms, box-shadow 200ms ease-out 50ms, width 300ms ease;
	box-shadow: 0 0 0px rgba(0,0,0,0);
}
body>ol li:hover {
	transform: scale(1.01);
	width: 49%;
	transition: transform 100ms ease-out, box-shadow 100ms ease-out, width 300ms ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
body>ol li:nth-of-type(even):hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
body>ol li:hover:after {
	top: calc(102% / 3 - 0.5rem);
	transition: top 100ms ease-out;
}
body>ol li:nth-of-type(even) {
	align-self: flex-end;
	text-align: right;
	background-color: rgb(230, 230, 230);
}
body>ol li:after {
	content: '';
	display: block;
	position: absolute;
	top: calc(100% / 3 - 0.5rem);
	width: 0;
	transition: top 200ms ease-out 50ms;
}
body>ol li:nth-of-type(odd):after {
	left: -0.5rem;
	border-right: 0.5rem solid var(--main-blue-color);
	border-top: 0.5rem solid transparent;
  	border-bottom: 0.5rem solid transparent;
}
body>ol li:nth-of-type(even):after {
	right: -0.5rem;
	border-left: 0.5rem solid rgb(230, 230, 230);
	border-top: 0.5rem solid transparent;
  	border-bottom: 0.5rem solid transparent;
}
body>ol p {
	color: rgb(255,255,255);
}
body>ol li:nth-of-type(even) p, body>ol li:nth-of-type(even) time {
	color: rgb(60,60,60) !important;
}
body>ol footer {
	display: block;
	position: relative;
	margin-top: 0.5rem;
	width: 100%;
}
body>ol footer p, ol time {
	font-size: 1.2em;
	font-weight: 100;
	color: rgb(240,240,240);
}
body>ol li:first-of-type footer p:last-of-type, body>ol li:last-of-type footer p:last-of-type {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
}
body>ol li:first-of-type footer p:last-of-type:before {
	content: ' \2713 \2713';
	visibility: visible;
	position: absolute;
	right: 0;
}
body>ol li:last-of-type footer p:last-of-type:before {
	content: ' \2713';
	visibility: visible;
	position: absolute;
	right: 0;
}
body>ol form {
	display: block;
	width: 100%;
}
body>ol form label {
	display: block;
	width: 100%;
	margin-top: 1rem;
}
body>ol form textarea, body>ol form button {
	display: inline-block;
	margin: 0.5rem 0;
	vertical-align: top;
	height: 3rem;
}
body>ol form textarea {
	width: calc(100% - 5rem);
	margin-right: 0.5rem;
}
body>ol form button {
	width: 4.5rem;
}

/****************/
/* FINISH ORDER */
/****************/

progress[value] {
	width: 80%;
	-webkit-appearance: none;
	height: 2rem;
	position: absolute;
	z-index: -1;
}
progress[value]::-webkit-progress-bar {
	background-color: rgb(248,248,248);
	border-radius: 0.3rem;
	box-shadow: 0 0 1px rgb(160, 160, 160) inset;
	overflow: hidden;
}
progress[value]::-webkit-progress-value {
	background-image: 
		-webkit-linear-gradient(-45deg,
	                           transparent 0%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 50%, transparent 66%),
	    -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	    -webkit-linear-gradient(left, rgb(60,160,240), rgb(200,160,240));
    border-radius: 2px;
    background-size: 35px 2rem, 100% 100%, 100% 100%;
	animation: progressAnim 1s ease infinite 2s;
}
nav:last-of-type ol {
	display: flex;
	justify-content: space-around;
	font-size: 1.4em;
	line-height: 2rem;
}
nav:last of type a {
	padding: 0 2rem;
}
nav:last-of-type li:first-of-type, nav:last-of-type li:first-of-type a {
	color: rgb(255,255,255);
}
nav:last-of-type a:after {
	content: '';
	position: relative;
	display: block;
	width: 0;
	height: 2px;
	top: -2px;
	left: 50%;
	background-color: rgb(255, 255, 255);
	transition: all 200ms ease;
}
nav:last-of-type li:nth-of-type(2) a:after {
	background-color: var(--main-blue-color);
}
nav:last-of-type a:hover:after, nav:last-of-type a:focus:after {
	width: 100%;
	left: 0%;
}

