/* 

CSS Styling standard:

.#[ElementSelector {
    RESETS

    DISPLAY

    POSITIONING

    SIZE

    MARGIN/PADDING

    COLORS

    OTHER, z-index, transitions, etc.
}

*/

/***************\
*
*   VARIABLES & FONTS
*
\***************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face {
    font-family: Ampersand;
    src: local('Baskerville-Italic'),
         local('Goudy Old Style-Italic'),
         local('Palatino-Italic'),
         local('Book Antiqua-Italic');
    unicode-range: U+26;
}

:root {
    --font-stack: normal 1rem/1.5 'Lato', sans-serif;
    --font-title: 500 2rem/1.25 Ampersand, 'Montserrat', sans-serif;

    /* 125/16 */
    --scroll-indicator-height: 7.8125rem; 
    --header-height: 7.5rem;


    --color-link: rgb(1, 40, 224);
    --color-button: rgb(29, 226, 206);
    --color-button-shadow: rgb(20, 160, 146);

    --title-size-h1: calc(1vw + 1.5rem);
    --title-size-h2: calc(1vw + 1rem);

    --transform-value: -100%;
    /* --animation-duration: .6s; */
    --animation-duration: .01s;
    --animation-ease: ease-in;

    --width: 100vw;
    --height: 100vh;

        /* calc( (a * a) + (b * b) = (c^2)  ) */

    --square: calc( calc(var(--width) * var(--width)) + calc(var(--height) * var(--height)) );
    --corner: calc(var(--square) / var(--square));
}

/***************\
*
*   DOCUMENT
*
\***************/

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

html {
    /* Sets standard font */
    font: var(--font-stack);
    font-variant: common-ligatures;
    font-synthesis: style;

    color: #000;
}

body {
    margin: 0;
    padding: 0;
}

/* 
    Accessibility menu
*/

[aria-label="Navigation Assistant"] {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    
    position: fixed;
    top: 0;
    left: 0;
        
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    filter: blur(0);

    pointer-events: none;
    z-index: 2;

    transition: all 300ms ease-out;
}

[aria-label="Navigation Assistant"]:focus {
    opacity: 1;
}
[aria-label="Navigation Assistant"]:focus [aria-label="Keyboard shortcuts"] {
    transform: scale(1);
    pointer-events: auto;
}

[aria-label="Navigation Assistant"]:focus ~ main, [aria-label="Navigation Assistant"]:focus ~ header {
    filter: blur(.2rem);
}

[aria-label="Keyboard shortcuts"] {
    min-width: 20rem;
    width: 50%;
    max-width: 40rem;

    min-height: 40rem;
    height: 50%;
    max-height: 80%;

    padding: 2rem;

    border-radius: .5rem;

    background-color: #fff;
    color: #000;

    transform: scale(0);
    transform-origin: center;

    transition: transform 300ms ease-out;
}

[aria-label="Keyboard shortcuts"] h1 {
    font-size: 2rem;
}
[aria-label="Keyboard shortcuts"] h2 {
    font-size: 1.5rem;
}

kbd {
    border: .1rem solid grey;
    border-radius: .2rem;
    padding: .25rem;
    margin: .25rem;
}

/* Page scroll position indicator 
    https://codepen.io/MadeByMike/pen/ZOrEmr
*/
@supports (height: 100vh) {	
	body{	
        background-image: linear-gradient(to right top, #0089f2 50%, #FFF 50%);
        /* Renders a half square of full page - 100vh and displays only --scroll-indicator-height of it */
        background-size: 100% calc(100% - 100vh + .5rem);
		background-repeat: no-repeat;
        background-position-y: var(--header-height);
    }

	body:before{
		content:'';
        
        position: fixed;
		top: calc(var(--scroll-indicator-height) + .1875rem);
		bottom: 0;
        
        width: 100%;
        
        background: white;

        z-index: -1;
	}
}

/***************\
*
*   TITLES
*
\***************/

h1, h2, h3, h4, h5, h6 {
    font: var(--font-title);
}

h1 {
    margin: 0;

    font-size: var(--title-size-h1);
}

/***************\
*
*   HEADER
*
\***************/

header{
	position: fixed;
    top:0;
    
	height: var(--scroll-indicator-height);
    width: 100%;
    
    background: white;
    box-shadow: 0 .25rem 0.5rem 0 rgba(0, 0, 0, .2);

    z-index: 1;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    max-width: 80%;

    margin: 0 auto;
}

header h1 {
    margin: 0;
    
    font-size: var(--title-size-h1);

    opacity: 0;
    animation: var(--animation-duration) var(--animation-ease) calc(var(--animation-duration) * 3) 1 forwards show;

}

main {
    display: grid;
    grid-gap: 3rem calc(1vw + 2rem);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    max-width: 80%;

    margin: calc(var(--scroll-indicator-height) + 1.5rem) auto 3rem auto;
}

/* Focus on every block */
main > *:focus-within {
    box-shadow: 0 0 .1rem .1rem rgba(1, 40, 224, .1);
}

/* @media screen and (min-width: 30rem) {
    main {
    }
} */
/***************\
*
*   BUTTONS OR INPUTS
*
\***************/
[type="submit"] {
    -webkit-appearance: none;
    font: var(--font-stack);

    height: 2.5rem;
    width: 5rem;

    margin: .25rem 0;
    padding-top: .2rem;
    
    background-color: var(--color-button);
    color: #FFF;

    border: 0;
    border-bottom: .2rem solid var(--color-button-shadow);
    border-radius: .25rem;

    user-select: none;

    transition: all 200ms ease-out;
}

button:target {
    border: 0;
}


img {
    max-width: 100%;
}

/***************\
*
*   LOGIN FORM
*
\***************/

form label, form input, form a, form button {
    display: block;
}
/* text based form inputs */
input[type="text"], input[type="email"], input[type="password"] {
    font: var(--font-stack);
    
    /* Inputs fit 30 X sized characters */
    width: 30ex;

    padding: .2em;
    margin-bottom: 1rem;

    color: rgb(44, 44, 44);
    border: calc(1rem/16) solid rgba(0,0,0,0.5);

    transition: all 200ms ease-out;
}

/* All form elements that not a checkbox, focussed and invalid */
form :not([type="checkbox"]):focus:invalid {
    outline: none;

    border: calc(1rem/8) solid rgb(255, 64, 64);
}
/* All form elements that not a checkbox and invalid */
form :not([type="checkbox"]):invalid {
    outline: none;

    border-bottom: calc(1rem/8) solid rgb(255, 64, 64);
}
/* All form elements that not a checkbox, focussed and valid */
form :not([type="checkbox"]):focus:valid {
    outline: none;

    border: calc(1rem/8) solid rgb(64, 175, 64);
}
/* All form elements that not a checkbox and valid */
form :not([type="checkbox"]):valid {
    outline: none;

    border-bottom: calc(1rem/8) solid rgb(64, 175, 64);
}
/* Button with a password sibling that is invalid */
form:invalid [type="submit"] {
    background-color: grey;
    border-color: darkgrey;

    opacity: .2;
    pointer-events: none;
}
/* Button with a password sibling that is valid */
form:valid [type="submit"] {
    background-color: var(--color-button);
    border-color: var(--color-button-shadow);

    opacity: 1;
    pointer-events: auto;
}

[name="field-stay-logged-in"], [name="field-stay-logged-in"] + label {
    display: inline-flex;
}

/***************\
*
*   MAIN NAV
*
\***************/

main nav:first-of-type ul li {
    list-style-type: none;
}

/***************\
*
*   Article 
*
\***************/


article figure {
    margin: 1rem 0;
}

article figure {
    max-width: 20rem;
    max-width: max-content;
    width: 80%;
}

/***************\
*
*   FINISH YOUR ORDER 
*
\***************/

main nav:nth-of-type(2) {
    max-width: 100%;
}
main nav:nth-of-type(2) progress{
    width: 100%;
    z-index: 1;
}
main nav:nth-of-type(2) ol{
    display: flex;
    align-items: center;
    justify-content: center;


    max-width: 100%;

    padding: 0;
}
main nav:nth-of-type(2) ol li{
    list-style: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: calc(100% / 4);
    height: 3rem;
    
    margin: -2rem auto 0;
    
    background-color: rgba(0, 0, 0, .1);
    border-left: calc(1rem/16) solid rgba(0, 0, 0, .25);

    z-index: -1;
}
main nav:nth-of-type(2) ol li:last-of-type {
    border-right: calc(1rem/16) solid rgba(0, 0, 0, .25);
}

main nav:nth-of-type(2) ol li a{
    /* text-decoration: none; */
    color: #000;
}

/***************\
*
*   RATING
*
\***************/

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend {
    font: var(--font-title);
    margin: 1rem 0;
}

fieldset label {
    display: inline-block;
    
    margin-right: 2rem;

    text-align: center;
}

fieldset label svg{
    max-height: 2em;

    margin-top: .5rem;

    transition: all 200ms ease-out;
}

fieldset input {
    /* display: none; */
    opacity: 0;
    width: 0;
    height: 0;
}

fieldset input:checked + label svg{
    transform: rotate(720deg) scale(1.5);
}

/* Skips underline in Chrome 64+ */
a:link {
    -webkit-text-decoration-skip-ink: auto;
    color: var(--color-link);
}
a:visited {
    color: var(--color-link);
}

/*  */

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes initialAnimation-horizontal {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(var(--transform-value));
    }
}
@keyframes initialAnimation-vertical {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(var(--transform-value));
    }
}

[data-animation] div:first-child, [data-animation] div:last-child {
    position: fixed;

    background-image: linear-gradient(-45deg, hsla(0,0%,0%,0), hsla(0,0%,0%,.05) );
    background-size: .3em;

    border: .25em solid hsla(0,0%,35%, 1);
}

[data-animation*='first'] div:first-child, [data-animation*='first'] div:last-child {
    width: 50vw;
    height: 100vh;

    top: 0;

    background: linear-gradient(to right, #a90329 0%,#a90329 6%,#6d0019 10%,#a90329 14%,#a90329 20%,#6d0019 24%,#a90329 28%,#a90329 34%,#6d0019 38%,#a90329 42%,#a90329 48%,#6d0019 52%,#a90329 56%,#a90329 62%,#6d0019 66%,#a90329 70%,#a90329 76%,#6d0019 80%,#a90329 84%,#a90329 90%,#6d0019 94%,#a90329 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    z-index: 123456;
}

[data-animation*='first'] div:first-child {
    left: 0;

    border: none;
    border-right: .25em solid #a90329;

    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}
[data-animation*='first'] div:last-child {
    right: 0;

    border: none;
    border-left: .25em solid #a90329;

    --transform-value: 100%;
    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}

[data-animation*='second'] div:first-child, [data-animation*='second'] div:last-child {
    width: 100vw;
    height: 50vh;

    background-color: hsla(0,0%,40%,1);  

    z-index: 12345;
}

[data-animation*='second'] div:first-child {
    top: 0;
    
    animation: var(--animation-duration) var(--animation-ease) calc(var(--animation-duration) * 2) 1 forwards initialAnimation-vertical;
}
[data-animation*='second'] div:last-child {
    bottom: 0;

    --transform-value: 100%;
    animation: var(--animation-duration) var(--animation-ease) calc(var(--animation-duration) * 2) 1 forwards initialAnimation-vertical;
}

[data-animation*='third'] div:first-child, [data-animation*='third'] div:last-child {
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: transparent;  
    background-size: cover;

    border: 0;

    z-index: 1234;
}

[data-animation*='third'] div:first-child {
    left: 0;
    transform-origin: top right;

    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0) 49.9%,hsla(0,0%,40%,1) 1%, hsla(0,0%,50%,1) 50%);

    animation: var(--animation-duration) var(--animation-ease) calc(var(--animation-duration) * 3) 1 forwards initialAnimation-horizontal;
}
[data-animation*='third'] div:last-child {
    right: 0;
    transform-origin: top left;

    background-image: linear-gradient(-45deg, hsla(0,0%,50%,1) 49.9%, hsla(0,0%,40%,1) 1%,  rgba(0, 0, 0, 0) 50%);

    --transform-value: 100%;
    animation: var(--animation-duration) var(--animation-ease) calc(var(--animation-duration) * 3) 1 forwards initialAnimation-horizontal;
}

a[href*=".html"] {
    color: green;
    text-decoration: green wavy underline; 
}

main > * {
    opacity: 0;
    transform: translateY(-1em);
}

main > :nth-child(1) {
    animation: var(--animation-duration) var(--animation-ease) calc(var(--animation-duration) * 5.25) 1 forwards show;
}
main > :nth-child(2) {
    animation: var(--animation-duration) var(--animation-ease) calc(var(--animation-duration) * 5) 1 forwards show;
}
main > :nth-child(3) {
    animation: var(--animation-duration) var(--animation-ease) calc(var(--animation-duration) * 4.75) 1 forwards show;
}
main > :nth-child(4) {
    animation: var(--animation-duration) var(--animation-ease) calc(var(--animation-duration) * 4.5) 1 forwards show;
}
main > :nth-child(5) {
    animation: var(--animation-duration) var(--animation-ease) calc(var(--animation-duration) * 4.25) 1 forwards show;
}
main > :nth-child(6) {
    animation: var(--animation-duration) var(--animation-ease) calc(var(--animation-duration) * 4) 1 forwards show;
}
